@model WSTanHoa.Models.ThongTinKhachHang
@{
    Layout = null;
    ViewBag.Title = "Thông Tin Khách Hàng";
}
<head>
    <link rel="shortcut icon" type="image/ico" href="~/Images/logoctycp.png">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/cssNOTMASTER")
    <!-- Custom fonts for this template-->
    <link href="~/Template/SBAdmin2/fontawesome/css/all.min.css" rel="stylesheet" type="text/css">
    @*<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">*@

    <!-- Custom styles for this template-->
    @*<link href="~/Template/SBAdmin2/css/sb-admin-2.css" rel="stylesheet">*@
    <link href="~/Template/SBAdmin2/css/bootstrap-glyphicons.min.css" rel="stylesheet" />
    <link href="~/Lib/kendo/css/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Lib/kendo/css/kendo.default.min.css" rel="stylesheet" />
    <link href="~/Lib/kendo/css/kendo.default.mobile.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <script src="~/Lib/kendo/js/kendo.all.min.js"></script>
    <script src="https://sp.zalo.me/plugins/sdk.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#chart").kendoChart({
                dataSource: {
                    data: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.ChartData))
                    },
                title: {
                    text: "Biểu đồ sử dụng nước"
                },
                legend: {
                    position: "top"
                },
                series: [{
                    type: "area",
                    field: "TieuThu",
                    categoryField: "Ky",
                    name: "Tiêu thụ (m³)",
                    axis: "TieuThu",
                    color: "#73c100"
                },
                {
                    type: "line",
                    field: "ThanhTien",
                    categoryField: "Ky",
                    name: "Tiền nước (vnđ)",
                    axis: "ThanhTien",
                    color: "#ec5e0a"
                }],
                valueAxis: [{
                    name: "ThanhTien",
                    title: { text: "Tiền nước (vnđ)" },
                    labels: {
                        format: "N0"
                    },
                    line: {
                        visible: true
                    },
                    color: "#ec5e0a"
                },
                {
                    name: "TieuThu",
                    title: { text: "Tiêu thụ (m³)" },
                    labels: {
                        format: "N0"
                    },
                    line: {
                        visible: true
                    },
                    min: 0,
                    color: "#73c100"
                }],
                categoryAxis: {
                    majorGridLines: {
                        visible: true
                    },
                    labels: {
                        rotation: -90
                    },
                    crosshair: {
                        visible: true
                    },
                    axisCrossingValues: [15, 0]
                },
                tooltip: {
                    visible: true,
                    shared: true,
                    format: "N0"
                }
            });
        });
    </script>
</head>
<body style="background-color:#85d8f3;margin-top:-45px">
    <div class="row justify-content-center">
        <div class="col-auto">
            @*<img src="~/Images/logoctycp.png" width="100" />*@
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-auto text-center">
            <span class="text-primary fw-bold">CÔNG TY CỔ PHẦN CẤP NƯỚC TÂN HÒA</span>
            <h4 class="text-danger fw-bold">Hotline: 1900.6489</h4>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col text-center">
            <a href="https://service.cskhtanhoa.com.vn/khachhang/thongtin?danhbo=@Model.DanhBo"><i class="fas fa-user fa-2x text-primary"></i></a>
            <div class="small fw-bold">Thông Tin</div>
        </div>
        <div class="col text-center">
            <a href="https://service.cskhtanhoa.com.vn/QLDHN/BaoChiSoNuoc?DanhBo=@Model.DanhBo&function=KiemTra" target="_blank"><i class="glyphicon glyphicon-dashboard fa-2x text-primary"></i></a>
            <div class="small fw-bold">Báo Chỉ<br />Số Nước</div>
        </div>
        <div class="col text-center">
            <a href="https://service.cskhtanhoa.com.vn/ThuongVu/DangKyDinhMuc?DanhBo=@Model.DanhBo&function=KiemTra" target="_blank"><i class="fas fa-id-card fa-2x text-primary"></i></a>
            <div class="small fw-bold">Đăng Ký<br />Định Mức</div>
        </div>
        <div class="col text-center">
            <a href="http://cskhtanhoa.com.vn/dich-vu/sang-ten-dong-ho.html" target="_blank"><i class="fas fa-address-book fa-2x text-primary"></i></a>
            <div class="small fw-bold">Sang Tên<br />Hợp Đồng</div>
        </div>
    </div>
    <div class="container mt-3">
        @if (Model.ThongTinDongNuoc != "")
        {
            <div class="card mt-3 rounded-3 shadow-sm">
                <div class="card-header text-center" style="background-color:orangered">
                    <h6 style="color:white">@Model.ThongTinDongNuoc</h6>
                </div>
            </div>
        }
        <div class="card mt-3 rounded-3 shadow-sm">
            <div class="card-header">
                <h4 class="text-primary">Thông Tin Khách Hàng</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-auto">
                        <label class="form-label small fw-bold text-danger">Click để quan tâm Zalo OA Tân Hòa</label>
                    </div>
                    <div class="col-auto">
                        <div class="zalo-follow-only-button" data-oaid="513683145569486355"></div>
                    </div>
                    <div class="col-auto">
                        <div class="zalo-chat-widget" data-oaid="513683145569486355" data-welcome-message="Rất vui khi được hỗ trợ bạn!" data-autopopup="0" data-width="" data-height=""></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-auto">
                        <label class="form-label small">Danh Bộ (mã KH):</label>
                    </div>
                    <div class="col-auto">
                        <label class="form-label small fw-bold">@Model.DanhBo</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-auto">
                        <label class="form-label small">Khách Hàng:</label>
                    </div>
                    <div class="col-auto">
                        <label class="form-label small fw-bold">@Model.HoTen</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-auto">
                        <label class="form-label small">Địa Chỉ:</label>
                    </div>
                    <div class="col-auto">
                        <label class="form-label small fw-bold">@Model.DiaChi</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-auto">
                        <label class="form-label small">Hợp Đồng:</label>
                    </div>
                    <div class="col-auto">
                        <label class="form-label small fw-bold">@Model.HopDong</label>
                    </div>
                    <div class="col-auto">
                        <label class="form-label small">Lộ Trình:</label>
                    </div>
                    <div class="col-auto">
                        <label class="form-label small fw-bold">@Model.MLT</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-auto">
                        <label class="form-label small">Giá Biểu:</label>
                    </div>
                    <div class="col-auto">
                        <label class="form-label small fw-bold">@Model.GiaBieu</label>
                    </div>
                    <div class="col-auto">
                        <label class="form-label small">Định Mức:</label>
                    </div>
                    <div class="col-auto">
                        <label class="form-label small fw-bold">@Model.DinhMuc</label>
                    </div>
                    @*<div class="col-auto">
                            <label class="form-label small">Định Mức HN:</label>
                        </div>
                        <div class="col-auto">
                            <label class="form-label small fw-bold">@Model.DinhMucHN</label>
                        </div>*@
                </div>
                <div class="row">
                    <div class="col-auto">
                        <label class="form-label small">NV Đọc Số:</label>
                    </div>
                    <div class="col-auto">
                        <label class="form-label small fw-bold">@Model.NVDocSo</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-auto">
                        <label class="form-label small">NV Thu Tiền:</label>
                    </div>
                    <div class="col-auto">
                        <label class="form-label small fw-bold">@Model.NVThuTien</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mt-3 rounded-3 shadow-sm">
            <div class="card-header">
                <h4 class="text-primary">Thông Tin Hóa Đơn</h4>
            </div>
            <div class="card-body">
                <div class="text-danger fw-bold"><h5>@Model.ThongTin</h5></div>
                @if (Model.ThongTin != "" && Model.ThongTin != "Đã thanh toán hết")
                { <div>
                    <h6>(Quý khách có thể chọn dịch vụ để thanh toán)</h6>
                    <div class="col text-primary">
                        <span><a href="https://hoadon.momo.vn/partner/THWATER/@Model.DanhBo"> <img src="~/Images/Banks/momo.jpg" width="50" /></a></span>
                        <span class="m-4"><a href="https://shopee.vn/digital-product/m/water/check-bill?carrierId=32"> <img src="~/Images/Banks/shopeepay.png" width="50" /></a></span>
                        <span><a href="https://bill.payoo.vn/tra-tien-thanh-toan-hoa-don-tien-nuoc-cap-nuoc-tan-hoa"> <img src="~/Images/Banks/payoo.png" width="50" /></a></span>
                    </div>
                </div>}
                <div class="bd-example border rounded-3 shadow-sm">
                    <div class="overflow-auto">
                        <table class="table table-striped text-center">
                            <thead>
                                <tr style="background-color:#00b3b3;color:white">
                                    <th class="col-md-1">Giá Biểu</th>
                                    <th class="col-md-1">Định Mức</th>
                                    @*<th class="col-md-1">Định Mức HN</th>*@
                                    <th class="col-md-1">Kỳ</th>
                                    <th class="col-md-1">CSC</th>
                                    <th class="col-md-1">CSM</th>
                                    <th class="col-md-1">Tiêu Thụ</th>
                                    @*<th class="col-md-1">Giá Bán</th>
                                        <th class="col-md-1">Thuế GTGT</th>
                                        <th class="col-md-1">Phí BVMT</th>*@
                                    <th class="col-md-1">Tổng Cộng</th>
                                    <th class="col-md-1">Ngày Thanh Toán</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.lstHoaDon)
                                {
                                    <tr>
                                        <td>
                                            @item.GiaBieu
                                        </td>
                                        <td>
                                            @item.DinhMuc
                                        </td>
                                        @*<td>
                                                @item.DinhMucHN
                                            </td>*@
                                        <td>
                                            @item.Ky
                                        </td>
                                        <td>
                                            @item.CSC
                                        </td>
                                        <td>
                                            @item.CSM
                                        </td>
                                        <td>
                                            @item.TieuThu
                                        </td>
                                        @*<td>
                                                @item.GiaBan
                                            </td>
                                            <td>
                                                @item.ThueGTGT
                                            </td>
                                            <td>
                                                @item.PhiBVMT
                                            </td>*@
                                        <td>
                                            @item.TongCong
                                        </td>
                                        <td>
                                            @if (@item.NgayGiaiTrach != null)
                                            {
                                                @item.NgayGiaiTrach.Value.ToString("dd/MM/yyyy")
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div id="chart"></div>
        </div>

        <div class="card mt-3 rounded-3 shadow-sm">
            <div class="card-header">
                <h4 class="text-primary">Thông tin tuyên truyền</h4>
            </div>
            <div class="card-body">
                <div class="card rounded-3 shadow-sm">
                    <div class="card-header">
                        <h4 class="text-warning h6">Đơn giá nước sạch, giá dịch vụ thoát nước và xử lý nước thải</h4>
                    </div>
                    <div class="card-body">
                        <div>
                            <img class="img-fluid" src="~/Images/gianuoc2022.jpg" />
                        </div>
                    </div>
                </div>
                <div class="card mt-1 rounded-3 shadow-sm">
                    <div class="card-header">
                        <h4 class="text-warning h6">Hướng dẫn quan tâm & đăng ký Zalo OA Tân Hòa</h4>
                    </div>
                    <div class="card-body">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/K1xTOuhMV78" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <div class="card mt-1 rounded-3 shadow-sm">
                    <div class="card-header">
                        <h4 class="text-warning h6">Tác hại sử dụng nước giếng chưa qua xử lý</h4>
                    </div>
                    <div class="card-body">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/X6wbkfiQsBw" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year Công ty Cổ phần Cấp nước Tân Hòa</p>
        </footer>
    </div>
</body>
