
@{
    ViewBag.Title = "Sự Cố ĐHN thông minh";
}
<head>
    @Scripts.Render("~/bundles/datepicker")

</head>
<script>
$(document).ready(function(){
    
});
</script>
@*<div class="row justify-content-center">
        <div class="col-auto">
            <img src="~/Images/logoctycp.png" width="100" />
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-auto text-center">
            <h4 class="text-primary fw-bold">CÔNG TY CỔ PHẦN<br>CẤP NƯỚC TÂN HÒA</h4>
        </div>
    </div>*@

<div class="container mt-3 py-2 rounded-3 shadow-sm">
    <div class="card mt-3 rounded-3 shadow-sm">
        <div class="card-header">
            <h4 class="text-primary">@ViewBag.Title</h4>
        </div>
        <div class="card-body">
            @using (Html.BeginForm("sDHN_SuCo", "QLDHN", FormMethod.Get))
            {
            <table>
                <tr>
                    <td><label class="form-label small">Danh Bộ:</label></td>
                    <td><input type="number" class="form-control fw-bold" name="DanhBo" value="@ViewBag.DanhBo"></td>
                    <td><button type="submit" class="btn btn-primary" name="function" value="KiemTra">Kiểm Tra</button></td>
                </tr>
                <tr>
                    <td><label class="form-label small">Khách Hàng:</label></td>
                    <td><input type="text" class="form-control fw-bold" value="@ViewBag.HoTen"></td>
                </tr>
                <tr>
                    <td><label class="form-label small">Địa Chỉ:</label></td>
                    <td><input type="text" class="form-control fw-bold" value="@ViewBag.DiaChi"></td>
                </tr>
            </table>
            }
            @using (Html.BeginForm("sDHN_SuCo", "QLDHN", FormMethod.Post, new { encType = "multipart/form-data" }))
            {
            <table>
                <tr style="visibility:collapse">
                    <td><label class="form-label small">Danh Bộ:</label></td>
                    <td><input type="number" class="form-control fw-bold" name="DanhBo" value="@ViewBag.DanhBo"></td>
                </tr>
                <tr>
                    <td><label class="form-label small">Nội Dung Sự Cố:</label></td>
                    <td>@Html.DropDownList("SuCo", new SelectList(ViewBag.NCC, "Value", "Text"))</td>
                </tr>
                <tr>
                    <td><label class="form-label small">File:</label></td>
                    <td><input type="file" class="form-control" name="Hinh" accept="application/pdf"></td>
                    <td>Hiện tại chỉ lưu 1 file pdf</td>
                </tr>
                <tr>
                   
                </tr>
                <tr>
                    <td><label class="form-label small">Nội Dung Xử Lý:</label></td>
                    <td><input type="text" class="form-control fw-bold" name="NoiDungXuLy"></td>
                </tr>
                <tr>
                    <td><label class="form-label small">Ngày Xử Lý:</label></td>
                    <td><input type="text" class="datepicker form-control" name="NgayXuLy"></td>
                    <td><button type="submit" class="btn btn-primary" name="function" value="Gui">Gửi</button></td>
                </tr>
                <tr>
                    <td colspan="3" class="mt-1">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.AntiForgeryToken()
                    </td>
                </tr>
            </table>
            }
        </div>
    </div>

    <div class="card mt-3 rounded-3 shadow-sm">
        <div class="card-header">
            <h4 class="text-primary">Thống Kê Sự Cố ĐHN thông minh</h4>
        </div>
        <div class="card-body">
            <table class="table table-striped table-bordered" id="dataTable">
                <thead>
                    <tr>
                        <th>ĐMA</th>
                        <th>Hiệu</th>
                        <th>Sự Cố</th>
                        <th>Số Lượng</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var ThongTinKhachHang in ViewBag.vThongKe)
            {
                        <tr>
                            <td>@ThongTinKhachHang.DinhMuc</td>
                            <td>@ThongTinKhachHang.GiaBieu</td>
                            <td>@ThongTinKhachHang.DanhBo</td>
                            <td>@ThongTinKhachHang.DiaChi</td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>

    <div class="card mt-3 rounded-3 shadow-sm">
        <div class="card-header">
            <h4 class="text-primary">Danh Sách Sự Cố ĐHN thông minh</h4>
        </div>
        <div class="card-body">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Sự Cố</th>
                        <th>Hiệu</th>
                        <th>Danh Bộ</th>
                        <th>Địa Chỉ</th>
                        <th>Nội Dung Xử Lý</th>
                        <th>Ngày Xử Lý</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var ThongTinKhachHang in ViewBag.vLichSu)
            {
                    <tr>
                        <td>@ThongTinKhachHang.DinhMuc</td>
                        <td>@ThongTinKhachHang.GiaBieu</td>
                        <td>@ThongTinKhachHang.DanhBo</td>
                        <td>@ThongTinKhachHang.DiaChi</td>
                        <td>@ThongTinKhachHang.HopDong</td>
                        <td>@ThongTinKhachHang.DienThoai</td>
                        @*<td><button type="button" class="btn btn-success" onclick="location.href='@Url.Action("viewFilePDF", "QLDHN",new { DanhBo=@ThongTinKhachHang.HoTen})'">File</button></td>*@
                        <td><a target="_blank" class="btn btn-success" href="@Url.Action("viewFilePDF", "QLDHN",new { DanhBo=@ThongTinKhachHang.HoTen})" role="button">File</a></td>
                    </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>

    

</div>


