
@{
    ViewBag.Title = "ĐHN Thông Minh";
}
@Scripts.Render("~/bundles/datepicker")
<!-- Custom fonts for this template-->
@*<link href="~/Template/SBAdmin2/fontawesome/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">*@

<!-- Custom styles for this template-->
@*<link href="~/Template/SBAdmin2/css/sb-admin-2.css" rel="stylesheet">*@
<link href="~/Template/SBAdmin2/css/bootstrap-glyphicons.min.css" rel="stylesheet" />

<script>
    $(document).ready(function () {
        getKhongTinHieu();
        getCanhBao();
        getLichSu();
    });
    function getKhongTinHieu() {
        $("#vKhongTinHieu div").remove();
        $.ajax({
            type: 'POST',
            url: '/QLDHN/getKhongTinHieu_sDHN/',
            dataType: 'json',
            data: { SoNgay: $("#SoNgayKhongTinHieu").val(), Ngay: $("#NgayXemKhongTinHieu").val() },
            success: function (data) {
                var items = '';
                $.each(data, function (i, item) {
                    var rows = "<div class='col-xl-3 col-md-6 mb-4'>"
                + "<div class='card border-left-info shadow h-100'>"
                + "    <div class='card-body'>"
                + "        <div class='row no-gutters align-items-center'>"
                + "            <div class='col mr-2'>"
                + "                <div class='font-weight-bold text-info mb-1'>"
                + item.TieuDe
                + "                </div>"
                + "                <div class='h5 mb-0 font-weight-bold text-gray-800'>" + item.SoLuong + "</div>"
                + "            </div>"
                + "            <div class='col-auto'>"
                + "                <i class='glyphicon glyphicon-dashboard fa-2x text-primary' style='font-size:40px;'></i>"
                + "<a href='@Url.Action("ExportData", "QLDHN")?function1=KhongTinHieu&function2=" + item.NoiDung + "&SoNgay=" + $("#SoNgayKhongTinHieu").val() + "&Ngay=" + $("#NgayXemKhongTinHieu").val() + "' class='elements'>"
                + "                                    <span>Excel</span>"
                + "                                </a>"
                + "            </div>"
                + "        </div>"
                + "    </div>"
                + "</div>"
                + "</div>"
                    $("#vKhongTinHieu").append(rows);
                });
            },
            error: function (ex) {
                alert("Error: " + ex.statusText);
            }
        });
    }
    function getCanhBao() {
        $("#vCanhBao div").remove();
        $.ajax({
            type: 'POST',
            url: '/QLDHN/getCanhBao_sDHN/',
            dataType: 'json',
            data: { Ngay: $("#NgayXemCanhBao").val() },
            success: function (data) {
                var items = '';
                $.each(data, function (i, item) {
                    var rows = "<div class='col-xl-3 col-md-6 mb-4'>"
                + "<div class='card border-left-info shadow h-100'>"
                + "    <div class='card-body'>"
                + "        <div class='row no-gutters align-items-center'>"
                + "            <div class='col mr-2'>"
                + "                <div class='font-weight-bold text-info mb-1'>"
                + item.TieuDe
                + "                </div>"
                + "                <div class='h5 mb-0 font-weight-bold text-gray-800'>" + item.SoLuong + "</div>"
                + "            </div>"
                + "            <div class='col-auto'>"
                + "                <i class='glyphicon glyphicon-dashboard fa-2x text-primary' style='font-size:40px;'></i>"
                + "<a href='@Url.Action("ExportData", "QLDHN")?function1=CanhBao&function2=" + item.NoiDung + "&Ngay=" + $("#NgayXemCanhBao").val() + "' class='elements'>"
                + "                                    <span>Excel</span>"
                + "                                </a>"
                + "            </div>"
                + "        </div>"
                + "    </div>"
                + "</div>"
                + "</div>"
                    $("#vCanhBao").append(rows);
                });
            },
            error: function (ex) {
                alert("Error: " + ex.statusText);
            }
        });
    }
    function getLichSu() {
        $("#vLichSu div").remove();
        $.ajax({
            type: 'POST',
            url: '/QLDHN/getLichSu_sDHN/',
            dataType: 'json',
            data: { Ngay: $("#NgayXemLichSu").val() },
            success: function (data) {
                var items = '';
                $.each(data, function (i, item) {
                    var rows = "<div class='container mt-3 py-2 rounded-3 shadow-sm'>"
                            + "<div class='row'>"
                            + "    <div class='col-auto mb-2'>"
                            + "        <h5>Ngày : <span class='text-danger'>" + item.ThoiGian + "</span> </h5>"
                            + "    </div>"
                            + "</div>"
                            + "<div class='row'>"
                    $.each(item.lst, function (j, itemC) {
                        rows += "<div class='col-xl-3 col-md-6 mb-4'>"
                        rows += "    <div class='card border-left-info shadow h-100'>"
                        rows += "        <div class='card-body'>"
                        rows += "            <div class='row no-gutters align-items-center'>"
                        rows += "                <div class='col mr-2'>"
                        rows += "                    <div class='font-weight-bold text-info mb-1'>"
                        rows += itemC.TieuDe
                        rows += "                    </div>"
                        rows += "                    <div class='h5 mb-0 font-weight-bold text-gray-800'>" + itemC.SoLuong + "</div>"
                        rows += "                </div>"
                        rows += "                <div class='col-auto'>"
                        rows += "                       <a href='@Url.Action("ExportData", "QLDHN")?function1=LichSu&function2=" + itemC.NoiDung + "&Ngay=" + item.ThoiGian + "' class='elements'>"
                        rows += "                            <span>Excel</span>"
                        rows += "                        </a>"
                        rows += "                </div>"
                        rows += "            </div>"
                        rows += "        </div>"
                        rows += "    </div>"
                        rows += "</div>"
                    })
                    rows += "</div>"
                    rows += "</div>"
                    $("#vLichSu").append(rows);
                });
            },
            error: function (ex) {
                alert("Error: " + ex.statusText);
            }
        });
    }
    function updateDS_sDHN() {
        $.ajax({
            type: 'POST',
            url: '/QLDHN/updateDS_sDHN/',
            dataType: 'json',
            data: {},
            success: function (data) {
                //alert(data);
            },
            error: function (ex) {
                //alert("Error: " + ex.statusText);
            }
        });
    }
    function getChiSo_sDHN_Day_Back() {
        $.ajax({
            type: 'POST',
            url: '/QLDHN/getChiSo_sDHN_Day_Back/',
            dataType: 'json',
            data: { Ngay: $("#TuNgay").val() },
            success: function (data) {
                //alert(data);
            },
            error: function (ex) {
                //alert("Error: " + ex.statusText);
            }
        });
    }
</script>

<div class="container py-2 rounded-3 shadow-sm">
    <div class="row py-2">
        <h3 class="text-primary">@ViewBag.Title : <span class="text-danger">@ViewBag.SoLuong</span> </h3><span><button type="button" class="btn btn-warning ml-4" onclick="location.href='@Url.Action("sDHN_SuCo", "QLDHN")'">Sự Cố</button></span>
    </div>
    <div class="row">
        @foreach (var mView in ViewBag.vTong)
        {
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-info shadow h-100">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="font-weight-bold text-info mb-1">
                                    @mView.TieuDe
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">@mView.SoLuong</div>
                            </div>
                            <div class="col-auto">
                                <i class="glyphicon glyphicon-dashboard fa-2x text-primary" style="font-size:40px;"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    @using (Html.BeginForm("sDHN", "QLDHN", FormMethod.Post))
    {
        <div class="row">
            <div class="row pt-3 px-3">
                <div class="col-auto">
                    <div class="row">
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="radLoai" value="radNCC" checked>
                                <label class="form-check-label" for="radNCC">
                                    NCC
                                </label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="col">
                                @Html.DropDownList("NCC", new SelectList(ViewBag.NCC, "Value", "Text"))
                            </div>
                        </div>
                    </div>
                    <div class="row pt-3">
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="radLoai" value="radDMA">
                                <label class="form-check-label" for="radDMA">
                                    DMA
                                </label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="col">
                                @Html.DropDownList("DMA", new SelectList(ViewBag.DMA, "Value", "Text"))
                            </div>
                        </div>
                    </div>
                    <div class="row pt-3">
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="radLoai" value="radNghiemThuTD">
                                <label class="form-check-label" for="radNghiemThuTD">
                                    Nghiệm Thu TĐ
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row pt-3">
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="radLoai" value="radAll">
                                <label class="form-check-label" for="radAll">
                                    Tất Cả
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row pt-3">
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="radLoai" value="radDanhBo">
                                <label class="form-check-label" for="radDanhBo">
                                    Danh Bộ
                                </label>
                            </div>
                        </div>
                        <div class="col">
                            <input class="mt-2 form-control" type="text" id="DanhBo" name="DanhBo" placeholder="Danh Bộ" autocomplete="off">
                        </div>
                    </div>
                    <div class="row pt-3">
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="chkBoDaNghiemThu" value="false">Bỏ Qua Đã Nghiệm Thu
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pt-3 px-3">
                <div class="col-auto">
                    <input class="form-control" type="text" id="KyHD" name="KyHD" placeholder="Kỳ HĐ" autocomplete="off">9/2022;10/2022;11/2022
                    <input class="mt-2 datepicker form-control" type="text" id="TuNgay" name="TuNgay" placeholder="Từ Ngày" autocomplete="off" onchange="getChiSo_sDHN_Day_Back()">
                    <input class="mt-2 datepicker form-control" type="text" id="DenNgay" name="DenNgay" placeholder="Đến Ngày" autocomplete="off">
                    <input class="mt-2 form-control" type="text" id="Hour" name="Hour" placeholder="Giờ" autocomplete="off">không nhập giờ sẽ là đếm record
                </div>
                <div class="col-auto">
                    <div class="row invisible">
                        <button type="submit" class="btn btn-success" onclick="updateDS_sDHN()">Get DS ĐHN</button>
                    </div>
                    <div class="row invisible">
                        <button type="submit" class="btn btn-success mt-3" onclick="getChiSo_sDHN_Day_Back()">Get Chỉ Số</button>
                    </div>
                    <div class="row">
                        <button type="submit" class="btn btn-primary mt-4" name="function" value="Excel">Excel</button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<div class="container mt-3 py-2 rounded-3 shadow-sm">
    <h3 class="text-primary">Danh sách ĐHN không tín hiệu</h3>
    <div class="col-3">
        <input class="datepicker form-control" type="text" id="NgayXemKhongTinHieu" name="NgayXemKhongTinHieu" placeholder="Ngày Xem" autocomplete="off" value=@ViewBag.NgayXem onchange="getKhongTinHieu()">
        <input class="mt-2 form-control" type="text" id="SoNgayKhongTinHieu" name="SoNgayKhongTinHieu" placeholder="Số Ngày" value="3" onchange="getKhongTinHieu()">
    </div>
    <div id="vKhongTinHieu" class="row mt-2">

    </div>
</div>

<div class="container mt-3 py-2 rounded-3 shadow-sm">
    <h3 class="text-primary">Cảnh báo</h3>
    <div class="col-3">
        <input class="datepicker form-control" type="text" id="NgayXemCanhBao" name="NgayXemCanhBao" placeholder="Ngày Xem" autocomplete="off" value=@ViewBag.NgayXem onchange="getCanhBao()">
    </div>
    <div id="vCanhBao" class="row mt-2">

    </div>
</div>

@*@using (Html.BeginForm("sDHN", "QLDHN", FormMethod.Post))
    {*@
<div class="container mt-3 py-2 rounded-3 shadow-sm">
    <div>
        <h3 class="text-primary">Lịch sử 7 ngày gần nhất</h3>
        <div class="col-3">
            <input class="datepicker form-control" type="text" id="NgayXemLichSu" name="NgayXemLichSu" placeholder="Ngày Xem" autocomplete="off" value=@ViewBag.NgayXem onchange="getLichSu()">
        </div>
    </div>
    <div id="vLichSu" class="row">
        @*@foreach (var mView in ViewBag.vLichSu)
            {
                <div class="container mt-3 py-2 rounded-3 shadow-sm">
                    <div class="row">
                        <div class="col-auto mb-2">
                            <h5>Ngày : <span class="text-danger">@mView.ThoiGian</span> </h5>
                        </div>
                    </div>
                    <div class="row">
                        @foreach (var mViewChild in mView.lst)
                    {
                            <div class="col-xl-3 col-md-6 mb-4">
                                <div class="card border-left-info shadow h-100">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="font-weight-bold text-info mb-1">
                                                    @mViewChild.TieuDe
                                                </div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800">@mViewChild.SoLuong</div>
                                            </div>
                                            <div class="col-auto">
                                                <a href="@Url.Action("ExportData", "QLDHN", new { function = @mViewChild.NoiDung, Ngay = @mView.ThoiGian })" class="elements">
                                                    <span>Excel</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }*@
    </div>
</div>
@*}*@

@*<div class="container mt-3 py-2 rounded-3 shadow-sm">
        @using (Html.BeginForm("sDHN", "QLDHN", FormMethod.Post))
        {
            <div class="row pt-3 px-3">
                <div class="col-auto">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="radLoai" value="radNgayThu">
                        <label class="form-check-label" for="radNgayThu">
                            Ngày Thu
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="radLoai" value="radNgayGiaiTrach" checked>
                        <label class="form-check-label" for="radNgayGiaiTrach">
                            Ngày Giải Trách
                        </label>
                    </div>
                </div>
                <div class="col-auto">
                    <input class="datepicker form-control" type="text" id="TuNgay" name="TuNgay" placeholder="Từ Ngày" autocomplete="off">
                </div>
                <div class="col-auto">
                    <input class="datepicker form-control" type="text" id="DenNgay" name="DenNgay" placeholder="Đến Ngày" autocomplete="off">
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-3" name="function" value="Xem">Xem</button>
                </div>
            </div>
        }
    </div>*@
