
@{
    Layout = null;
    ViewBag.Title = "Quay Số May Mắn";
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
@*<script src="~/Scripts/bootstrap.js"></script>*@
    <script src="~/Scripts/jquery-3.6.0.js"></script>
<script>
    function generate() {
        $('#num1').text(Math.floor(Math.random() * 9) + 1);
        $("#num1").prev().css("color", "red");
        //$('#num1').attr('style', 'background-color:red');
        //$('#num1').css("background-color") = 'red' ? $('#num1').attr('style', 'background-color:yellow') : $('#num1').attr('style', 'background-color:red');
    }
    setInterval(generate, 100);
</script>
<body style="background-color:lightblue">
    <button onclick="generate()">run</button>
    <div class="text-center text-danger fw-bolder fs-2 mt-1">
        <div class="col">
            <div class="row">
                <div class="col">
                    <img src="~/Images/sawaco.jpg" width="150" />
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    HỘI NGHỊ TỔNG KẾT HOẠT ĐỘNG
                </div>
            </div>
            <div class="row">
                <div class="col">
                    KHỐI THI ĐUA 4 VÀ CỤM THI ĐUA 2 CÔNG ĐOÀN
                </div>
            </div>
            <div class="row">
                <div class="col">
                    CÁC ĐƠN VỊ KINH DOANH NGÀNH NƯỚC
                </div>
            </div>
            <div class="row">
                <div class="col">
                    NĂM 2022
                </div>
            </div>
        </div>
    </div>

    <div class="text-center fw-bolder mt-3" style="font-size:80px;color:limegreen">
        <div class="row justify-content-center">
            <div class="col-1 align-self-start">
                <label id="num1">@ViewBag.num1</label>
            </div>
            <div class="col-1 align-self-center">
                <label id="num2">@ViewBag.num2</label>
            </div>
            <div class="col-1 align-self-end">
                <label id="num3">@ViewBag.num3</label>
            </div>
        </div>
    </div>

    <div class="text-center fw-bolder mt-5" style="font-size:80px;color:limegreen">
        <div class="row">
            <div class="col">
                <label id="donvi">@ViewBag.donvi</label>
            </div>
        </div>
    </div>

    <div class="text-center fw-bolder mt-5" style="font-size:80px;color:limegreen">
        <div class="row">
            <div class="col">
                <label id="hoten">@ViewBag.hoten</label>
            </div>
        </div>
    </div>

</body>


