@{
    Layout = null;
    ViewBag.Title = "Quay Số May Mắn";
}

<!DOCTYPE html>
<audio id="quay" preload="auto">
    <source src="../Sounds/nhacxosokienthiet.mp3" type="audio/mp3" />
</audio>
<audio id="ketqua">
    <source src="../Sounds/chucmungchienthang.mp3" type="audio/mp3" />
</audio>
<html lang="vn">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHƯƠNG TRÌNH QUAY SỐ</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: "Lato", sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.7;
            color: #777;
            padding: 2px;
        }

        .header {
            height: 100vh;
            background-image: url("../Images/Slide2022Light.jpg");
            background-size: cover;
            background-position: bottom;
        }

        .logo {
            top: 40px;
            left: 20px;
            width: 100%;
        }

        .container {
            position: absolute;
            top: 30%;
            transform: translate(-50%, -50%);
            text-align: center;
        }

        .heading {
            color: #fff;
            text-transform: uppercase;
            backface-visibility: hidden;
            margin-bottom: 60px;
        }

        .heading-title {
            display: block;
            font-size: 60px;
            font-weight: 400;
            letter-spacing: 33px;
            animation-name: hieu-ung-di-chuyen-sang-trai;
            animation-duration: 2s;
            animation-timing-function: ease-out;
        }

        .heading-sub {
            display: block;
            font-size: 20px;
            letter-spacing: 12px;
            animation-name: hieu-ung-di-chuyen-sang-phai;
            animation-duration: 2s;
            animation-timing-function: ease-out;
        }

        table, th, td {
            border: 0px solid black;
        }


        #example2 {
            border: 1px solid;
            padding: 0px;
            box-shadow: 5px 10px #888888;
        }

        #example3 {
            border: 1px solid;
            padding: 0px;
            box-shadow: 5px 10px red;
        }

        .pcty {
            font-family: Arial, Helvetica, sans-serif;
            color: blue;
        }

        .ten {
            font-family: "Courier New", "Courier New", monospace;
            color: darkviolet;
        }
    </style>
    <script src="~/Scripts/jquery-3.6.0.js"></script>
    <script>
        var myTimer1;
        var myTimer2;
        var myTimer3;
        var soundstart;
        var soundsend;

        function quay() {
            $('#viewSanPham').attr('hidden', 'hidden');
            $('#num1').text("");
            $('#num2').text("");
            $('#num3').text("");
            $('#donvi').text("");
            $('#hoten').text("");
            $('#num1h').text("");
            $('#num2h').text("");
            $('#num3h').text("");
            $('#donvih').text("");
            $('#hotenh').text("");
            $('#example2').attr('hidden', 'hidden')
            $('#example3').attr('hidden', 'hidden')
            soundstart = document.getElementById("quay");
            soundsend = document.getElementById("ketqua");
            $.ajax({
                type: 'GET',
                url: '/QuaySo/getQuay/',
                dataType: 'json',
                data: {},
                success: function (data) {
                    var items = '';
                    $.each(data, function (i, item) {
                        $('#num1h').text(item.ChiSo);
                        $('#num2h').text(item.DanhBo);
                        $('#num3h').text(item.DiaChi);
                        $('#donvih').text(item.HoTen);
                        $('#hotenh').text(item.NoiDung);
                    });

                },
                error: function (ex) {
                    alert("Error: " + ex.statusText);
                }
            });

            myTimer1 = setInterval(generate1, 400);
            myTimer2 = setInterval(generate2, 400);
            myTimer3 = setInterval(generate3, 400);

            soundstart.play();
            setTimeout(function () {
                soundstart.pause();
                soundstart.currentTime = 0;
            }, 10000);
            setTimeout(function () {
                soundsend.play();
            }, 10000);

            setTimeout(function () {
                $('#donvi').text($('#donvih').text());
                $('#example2').removeAttr('hidden');
            }, 7500);

            setTimeout(function () {
                $('#hoten').text($('#hotenh').text());
                $('#example3').removeAttr('hidden');
            }, 12000);

        }

        function generate1() {
            $('#num1').text(Math.floor(Math.random() * 9) + 1);
            $('#num1').attr('style', 'background-color:yellow')
            setTimeout(function () {
                $('#num1').attr('style', 'background-color:limegreen')
            }, 200);
            setTimeout(function () {
                $('#num1').removeAttr('style')
                clearInterval(myTimer1);
                $('#num1').text($('#num1h').text());
            }, 2000);
        }

        function generate2() {
            $('#num2').text(Math.floor(Math.random() * 9) + 1);
            $('#num2').attr('style', 'background-color:yellow')
            setTimeout(function () {
                $('#num2').attr('style', 'background-color:limegreen')
            }, 200);
            setTimeout(function () {
                $('#num2').removeAttr('style')
                clearInterval(myTimer2);
                $('#num2').text($('#num2h').text());
            }, 4000);
        }

        function generate3() {
            $('#num3').text(Math.floor(Math.random() * 9) + 1);
            $('#num3').attr('style', 'background-color:yellow')
            setTimeout(function () {
                $('#num3').attr('style', 'background-color:limegreen')
            }, 200);
            setTimeout(function () {
                $('#num3').removeAttr('style')
                clearInterval(myTimer3);
                $('#num3').text($('#num3h').text());
            }, 5700);
        }

        function showSanPham() {
            $('#num1').text("");
            $('#num2').text("");
            $('#num3').text("");
            $('#donvi').text("");
            $('#hoten').text("");
            $('#num1h').text("");
            $('#num2h').text("");
            $('#num3h').text("");
            $('#donvih').text("");
            $('#hotenh').text("");
            $('#example2').attr('hidden', 'hidden')
            $('#example3').attr('hidden', 'hidden')
            switch ($("#cmbSanPham option:selected").text()) {
                case '0':
                    $('#nameSanPham').text('');
                    $('#imgSanPham').removeAttr('src');
                    $('#viewSanPham').attr('hidden', 'hidden');
                    break;
                case '1':
                    $('#nameSanPham').text('Samsung Galaxy Z Flip 4');
                    $('#imgSanPham').attr('src', '../Images/1.png');
                    $('#imgSanPham').attr('width', '350');
                    $('#viewSanPham').removeAttr('hidden');
                    break;
                case '2':
                    $('#nameSanPham').text('iPad Gen10 2022 10.9inch WiFi 64G');
                    $('#imgSanPham').attr('src', '../Images/2.png');
                    $('#imgSanPham').attr('width', '400');
                    $('#viewSanPham').removeAttr('hidden');
                    break;
                case '3':
                    $('#nameSanPham').text('Apple Watch SE GPS 40mm');
                    $('#imgSanPham').attr('src', '../Images/3.png');
                    $('#imgSanPham').attr('width', '300');
                    $('#viewSanPham').removeAttr('hidden');
                    break;
                case '4':
                    $('#nameSanPham').text('Tai nghe AirPods 2');
                    $('#imgSanPham').attr('src', '../Images/4.png');
                    $('#imgSanPham').attr('width', '250');
                    $('#viewSanPham').removeAttr('hidden');
                    break;
                case '5':
                    $('#nameSanPham').text('Loa Bluetooth LG XBoom Go PL2');
                    $('#imgSanPham').attr('src', '../Images/5.png');
                    $('#imgSanPham').attr('width', '450');
                    $('#viewSanPham').removeAttr('hidden');
                    break;
            }
        }

    </script>

</head>

<body>
    <header>
        <div class="header">
            <center style="font-size:25px;font-weight: bold;color:blue;text-align-last:center ">
                <table>
                    <tr>
                        <td rowspan="3">
                            <img src="~/Images/sawaco.jpg" width="110" style="margin-top:5px;margin-right:10px" />
                        </td>
                        <td>
                            HỘI NGHỊ TỔNG KẾT HOẠT ĐỘNG
                        </td>
                    </tr>
                    <tr>
                        <td>KHỐI THI ĐUA 4 VÀ CỤM THI ĐUA 2 CÔNG ĐOÀN</td>
                    </tr>
                    <tr>
                        <td>CÁC ĐƠN VỊ KINH DOANH NGÀNH NƯỚC NĂM 2022</td>
                    </tr>
                </table>
            </center>
            <table style="width:100%">
                <tr>
                    <th>
                        <center>
                            <table>
                                <tr>
                                    <td><img src="~/Images/vongquay.png" width="150" onclick="quay()" /></td>
                                    <td>
                                        <select id="cmbSanPham" name="cmbSanPham" onchange="showSanPham()">
                                            <option value="0">0</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                        </select>
                                    </td>
                                </tr>
                            </table>
                        </center>
                    </th>
                </tr>
                <tr>
                    <td>
                        <center>
                            <table>
                                <tr id="rowquay">
                                    <td style="font-size:100px;font-weight: bold;color:red;">
                                        <label id="num1"></label>
                                        <label id="num1h" hidden="hidden">@ViewBag.num1</label>
                                        <label id="num2"></label>
                                        <label id="num2h" hidden="hidden">@ViewBag.num2</label>
                                        <label id="num3"></label>
                                        <label id="num3h" hidden="hidden">@ViewBag.num3</label>
                                    </td>
                                </tr>
                            </table>
                        </center>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="viewSanPham" hidden="hidden">
                            <center>
                                <label id="nameSanPham" style="font-size:50px;font-weight: bold;color:red;"></label>
                                <br />
                                <img id="imgSanPham" />
                            </center>
                        </div>

                        <div id="example2" hidden="hidden">
                            <center>
                                <label id="donvi" class="pcty" style="font-size:50px;font-weight: bold;"></label>
                                <label id="donvih" hidden="hidden">@ViewBag.donvi</label>
                            </center>
                        </div>
                        <div id="example3" hidden="hidden">
                            <center>
                                <label id="hoten" class="ten" style="font-size:80px;font-weight: bold;"></label>
                                <label id="hotenh" hidden="hidden">@ViewBag.hoten</label>
                            </center>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </header>
</body>
</html>