
<head>
    <link rel="shortcut icon" type="image/ico" href="~/Images/logoctycp.png">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css")
    @*@Scripts.Render("~/bundles/modernizr")*@

    <style>
        @@media screen and (max-width: 991px) {
            body {
                margin-top: 50px;
            }
        }
        @@media screen and (max-width: 767px) {
            body {
                margin-top: 5px;
            }
        }
        @@media screen and (max-width: 421px) {
            body {
                margin-top: 40px;
            }
        }
        @@media screen and (max-width: 365px) {
            body {
                margin-top: 80px;
            }
        }
    </style>
</head>
<nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #00b3b3;">
    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between">
            <a class="navbar-brand">
                <img src="~/Images/logoctycp.png" alt="" width="32" height="30" class="d-inline-block align-text-top">
            </a>
            @Html.ActionLink("Tân Hòa WS", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link active" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("API", "Index", "Help", new { area = "" }, new { @class = "nav-link active" })
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link active dropdown-toggle" href="#" id="menuZalo" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Zalo
                        </a>
                        <ul class="dropdown-menu" style="background-color: #00b3b3;" aria-labelledby="menuZalo">
                            <li>@Html.ActionLink("Zalo", "Index", "Zalo", new { area = "" }, new { @class = "nav-link active" })</li>
                            <li>@Html.ActionLink("Zalo Chat", "Index", "ZaloChat", new { area = "" }, new { @class = "nav-link active" })</li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link active dropdown-toggle" href="#" id="menuThuongVu" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Thương Vụ
                        </a>
                        <ul class="dropdown-menu" style="background-color: #00b3b3;" aria-labelledby="menuThuongVu">
                            @*<li>@Html.ActionLink("Thông Tin Khách Hàng", "ThongTinKhachHang", "ThuongVu", new { area = "" }, new { @class = "nav-link active" })</li>*@
                            <li>@Html.ActionLink("Tính Tiền Nước", "TinhTienNuoc", "ThuongVu", new { area = "" }, new { @class = "nav-link active" })</li>
                            <li>@Html.ActionLink("Đăng Ký Định Mức Nước", "DangKyDinhMuc", "ThuongVu", new { area = "" }, new { @class = "nav-link active" })</li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link active dropdown-toggle" href="#" id="menuQLDHN" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            QLĐHN
                        </a>
                        <ul class="dropdown-menu" style="background-color: #00b3b3;" aria-labelledby="menuQLDHN">
                            <li>@Html.ActionLink("ĐHN Thông Minh", "sDHN", "QLDHN", new { area = "" }, new { @class = "nav-link active" })</li>
                            <li>@Html.ActionLink("ĐHN Điện Từ", "DHNDT", "QLDHN", new { area = "" }, new { @class = "nav-link active" })</li>
                            <li>@Html.ActionLink("Báo Chỉ Số Nước", "BaoChiSoNuoc", "QLDHN", new { area = "" }, new { @class = "nav-link active" })</li>
                            <li><a class="nav-link active" href="http://113.161.88.180:81/app/docso.apk" target="_blank">Tải app</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link active dropdown-toggle" href="#" id="menuThuTien" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Thu Tiền
                        </a>
                        <ul class="dropdown-menu" style="background-color: #00b3b3;" aria-labelledby="menuThuTien">
                            <li><a class="nav-link active" href="http://113.161.88.180:81/app/thutien.apk" target="_blank">Tải app</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link active dropdown-toggle" href="#" id="menuThuTien" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Tái Lập Mặt Đường
                        </a>
                        <ul class="dropdown-menu" style="background-color: #00b3b3;" aria-labelledby="menuTLMD">
                            <li>@Html.ActionLink("Điểm Tái Lập", "ThiCong", "TLMD", new { area = "" }, new { @class = "nav-link active" })</li>
                            <li>@Html.ActionLink("Báo Cáo", "BaoCao", "TLMD", new { area = "" }, new { @class = "nav-link active" })</li>
                            <li>@Html.ActionLink("Đơn Vị Thi Công", "DonViThiCong", "TLMD", new { area = "" }, new { @class = "nav-link active" })</li>
                            <li>@Html.ActionLink("Đổi Mật Khẩu", "DoiMatKhau", "TLMD", new { area = "" }, new { @class = "nav-link active" })</li>
                            <li>@Html.ActionLink("Đăng Xuất", "DangXuat", "TLMD", new { area = "" }, new { @class = "nav-link active" })</li>
                        </ul>
                    </li>
                    @*<li class="nav-item dropdown">
                        <a class="nav-link active dropdown-toggle" href="#" id="menuThuongVu" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Bầu Cử
                        </a>
                        <ul class="dropdown-menu" style="background-color: #00b3b3;" aria-labelledby="menuThuongVu">
                            <li>@Html.ActionLink("Ban Chấp Hành", "BCH", "BauCu", new { area = "" }, new { @class = "nav-link active" })</li>
                            <li>@Html.ActionLink("Bí Thư", "BiThu", "BauCu", new { area = "" }, new { @class = "nav-link active" })</li>
                            <li>@Html.ActionLink("Đại Biểu Chính Chức", "DaiBieuChinhThuc", "BauCu", new { area = "" }, new { @class = "nav-link active" })</li>
                            <li>@Html.ActionLink("Đại Biểu Dự Khuyết", "DaiBieuDuKhuyet", "BauCu", new { area = "" }, new { @class = "nav-link active" })</li>
                            <li>@Html.ActionLink("KQ Ban Chấp Hành", "BCH_View", "BauCu", new { area = "" }, new { @class = "nav-link active" })</li>
                            <li>@Html.ActionLink("KQ Bí Thư", "BiThu_View", "BauCu", new { area = "" }, new { @class = "nav-link active" })</li>
                            <li>@Html.ActionLink("KQ Đại Biểu Chính Thức", "DaiBieuChinhThuc_View", "BauCu", new { area = "" }, new { @class = "nav-link active" })</li>
                            <li>@Html.ActionLink("KQ Đại Biểu Dự Khuyết", "DaiBieuDuKhuyet_View", "BauCu", new { area = "" }, new { @class = "nav-link active" })</li>
                            <li>@Html.ActionLink("Quản Trị", "QuanTriBauCu", "BauCu", new { area = "" }, new { @class = "nav-link active" })</li>
                            
                            <li>@Html.ActionLink("BAN CHẤP HÀNH", "BCH", "BauCu", new { area = "" }, new { @class = "nav-link active" })</li>
                            <li>@Html.ActionLink("BAN THƯỜNG VỤ", "BCH1", "BauCu", new { area = "" }, new { @class = "nav-link active" })</li>
                            <li>@Html.ActionLink("PHÓ BÍ THƯ", "BCH2", "BauCu", new { area = "" }, new { @class = "nav-link active" })</li>
                            <li>@Html.ActionLink("KQ BAN CHẤP HÀNH", "BCH_View", "BauCu", new { area = "" }, new { @class = "nav-link active" })</li>
                            <li>@Html.ActionLink("KQ BAN THƯỜNG VỤ", "BCH1_View", "BauCu", new { area = "" }, new { @class = "nav-link active" })</li>
                            <li>@Html.ActionLink("KQ PHÓ BÍ THƯ", "BCH2_View", "BauCu", new { area = "" }, new { @class = "nav-link active" })</li>
                            <li>@Html.ActionLink("Quản Trị", "QuanTriBauCu", "BauCu", new { area = "" }, new { @class = "nav-link active" })</li>
                        </ul>
                    </li>*@
                </ul>
            </div>
        </header>
    </div>
</nav>
<body>
    <div class="container mt-3">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year Công ty Cổ phần Cấp nước Tân Hòa</p>
        </footer>
    </div>
</body>
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)


