
@{
    Layout = null;
    ViewBag.Title = "Bầu Đại Biểu Dự Khuyết";
}

<!DOCTYPE html>

<html>
<head>
    <link rel="shortcut icon" type="image/ico" href="~/Images/logoctycp.png">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/cssDoanTCT2022")
    <style>
        body {
            background-image: url('../../Images/daihoidoantct2022.png');
            background-repeat: no-repeat;
           background-attachment: fixed;
            background-size: 100% 100%;
        }
    </style>
    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="container" style="margin-top:120px">
        <div class="card rounded-3 shadow-sm">
            <div class="card-header text-center">
                <h4 class="text-primary">@ViewBag.Title</h4>
            </div>
            <div class="card-body">
                @using (Html.BeginForm("DaiBieuDuKhuyet", "BauCu", FormMethod.Post))
                {
                    <div class="row">
                        <div class="col">
                            <div class="overflow-auto" style="height:40vh">
                                <table>
                                    <tr>
                                        <td>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" name="0">
                                                <label name="0">Không Hợp Lệ</label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="text-center fw-bold">
                                        <td><div class="mt-4">Ứng Viên</div></td>
                                        <td><div class="mt-4">Đồng Ý</div></td>
                                        <td><div class="mt-4">Không Đồng Ý</div></td>
                                    </tr>
                                    @if (ViewBag.BCH_UngCu != null)
                                    {
                                        foreach (var item in ViewBag.BCH_UngCu)
                                        {
                                            <tr class="text-center">
                                                <td>
                                                    <label name="@item.DanhBo">@item.HoTen</label>
                                                </td>
                                                <td>
                                                    <div class="form-check text-center">
                                                        <input class="form-check-input" type="radio" name="@item.DanhBo" value="Yes">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-check text-center">
                                                        <input class="form-check-input" type="radio" name="@item.DanhBo" value="No">
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    }
                                    <tr>
                                        <td>
                                            <div class="mt-3">
                                                <button type="submit" class="btn btn-primary" name="function" value="Gui">Gửi</button>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="col">
                            <div class="overflow-auto" style="height:40vh">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <td>STT</td>
                                            <td>ID</td>
                                            <td>Ngày Lập</td>
                                            <td></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (ViewBag.BCH_BoPhieu != null)
                                        {
                                            foreach (var item in ViewBag.BCH_BoPhieu)
                                            {
                                                <tr>
                                                    <td>
                                                        <label>@item.MLT</label>
                                                    </td>
                                                    <td>
                                                        <label>@item.DanhBo</label>
                                                    </td>
                                                    <td>
                                                        <label>@item.HoTen</label>
                                                    </td>
                                                    <td>
                                                        @Html.ActionLink("Xóa", "DaiBieuDuKhuyet", new { function = "Xoa", BoPhieu = item.DanhBo }, new { onclick = "return confirm('Bạn có chắc chắn xóa?');" })
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

        @*<hr />
        <footer>
            <p>&copy; @DateTime.Now.Year Công ty Cổ phần Cấp nước Tân Hòa</p>
        </footer>*@
    </div>
</body>
</html>
