@{

}
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 text-center">
    <div class="col">
        <div class="container rounded-3 shadow-sm mt-4 pt-2 pb-2">
            <a href="@Url.Action("pic1", "Home")"><img src="~/images/CDSN/pic1.jpg" width="100%"></a>
            <h5>Ngày 5-6-1911, người thanh niên yêu nước Nguyễn Tất Thành đã lên con tàu Amiral Latouche Tréville, từ Bến cảng Nhà Rồng, thành phố Sài Gòn đi Marseille (Pháp) với ý chí mãnh liệt và hoài bão sẽ tìm được con đường cứu nước, giải phóng nhân dân khỏi ách nô lệ của thực dân, đế quốc</h5>	
        </div>
    </div>
    <div class="col">
        <div class="container rounded-3 shadow-sm mt-4 pt-2 pb-2">
            <a href="@Url.Action("pic2", "Home")"><img src="~/images/CDSN/pic2.jpg" width="100%"></a>
            <h5>Tư liệu ảnh Chủ tịch Hồ Chí Minh từ năm 1930 - 1945</h5>
        </div>
    </div>
    <div class="col">
        <div class="container rounded-3 shadow-sm mt-4 pt-2 pb-2">
            <a href="@Url.Action("pic3", "Home")"><img src="~/images/CDSN/pic3.jpg" width="100%"></a>
            <h5>Tư liệu ảnh Chủ tịch Hồ Chí Minh từ năm 1945 - 1954</h5>
        </div>
    </div>
    <div class="col">
        <div class="container rounded-3 shadow-sm mt-4 pt-2 pb-2">
            <a href="@Url.Action("pic4", "Home")"><img src="~/images/CDSN/pic4.jpg" width="100%"></a>
            <h5>Tư liệu ảnh Chủ tịch Hồ Chí Minh từ năm 1954 - 1969</h5>
        </div>
    </div>
    <div class="col">
        <div class="container rounded-3 shadow-sm mt-4 pt-2 pb-2">
            <a href="@Url.Action("pic5", "Home")"><img src="~/images/CDSN/pic5.jpg" width="100%"></a>
            <h5>Phim tài liệu: Miền Nam trong trái tim tôi</h5>
        </div>
    </div>
</div>