@model List<WSTanHoa.Models.db.ZaloView>
@{
    ViewBag.Title = "Zalo OA Chat";
}
@Scripts.Render("~/bundles/zalo")
@Scripts.Render("~/bundles/lightbox")

<h4 class="text-primary">Danh sách Zalo Chat OA Cấp nước Tân Hòa</h4>

<div class="container bg-light mt-3 rounded-3 shadow-sm">
    <div class="row pt-3 px-3">
        <div class="col-auto">
            <input class="form-control" type="text" id="NoiDungTimKiem" name="NoiDungTimKiem" placeholder="Nội dung tìm kiếm">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3" onclick="TimKiem()">Tìm Kiếm</button>
        </div>
    </div>
</div>
<br />
<h4>Kết Quả</h4>
<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="bd-example border rounded-3 mt-3 shadow-sm">
                <div class="overflow-auto" style="height:65vh">
                    <table class="table table-striped" id="tblTimKiem">
                        <tbody>
                            @*@foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <a href="#" style="text-decoration:none;color:black">
                                                <div class="row row-cols-auto">
                                                    <div class="col"><img src="@item.Avatar" width="50" height="50" class="rounded-circle flex-shrink-0"></div>
                                                    <div class="col"><b class="">@item.Name</b></div>
                                                    <div class="col"><p class="">@item.CreateDate</p></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        @item.NoiDung
                                                    </div>
                                                </div>
                                            </a>
                                        </td>
                                    </tr>
                                }*@
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="bd-example border rounded-3 mt-3 shadow-sm">
                <div class="overflow-auto" style="height:65vh">
                    <table class="table" id="tblChat">
                        <tbody>
                            @*@foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <a href="#" style="text-decoration:none;color:black">
                                                <div class="row row-cols-auto text-end">
                                                    @if (item.NguoiGui == "User")
                                                    {
                                                        <div class="col"><img src="@item.Avatar" width="50" height="50" class="rounded-circle flex-shrink-0"></div>
                                                        <div class="col"><b class="">@item.Name</b></div>
                                                    }
                                                    else
                                                    {
                                                        <div class="col"><img src="~/Images/logoctycp.png" width="50" height="50" class="rounded-circle flex-shrink-0"></div>
                                                        <div class="col"><b class="">Cấp Nước Tân Hòa</b></div>
                                                    }
                                                    <div class="col"><p class="">@item.CreateDate</p></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        @item.NoiDung
                                                    </div>
                                                </div>
                                            </a>
                                        </td>
                                    </tr>
                                }*@
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

