
@{
    Layout = null;
    ViewBag.Title = "Đăng Ký Định Mức Nước";
}

<!DOCTYPE html>

<html>
<head>
    <link rel="shortcut icon" type="image/ico" href="~/Images/logoctycp.png">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <script>
        function fillrows() {
            var rows = $("input[name=SoNK]").val();
            if (rows == "")
                rows = 0;
            var str = "";
            //$("#tblCCCD tbody tr").remove();
            //for (var i = 0; i < rows ; i++) {
            //    str += "<tr>"
            //         + "            <td><input type='text' class='form-control' name='STT" + (i + 1) + "' value='" + (i + 1) + "'></td>"
            //         + "            <td><input type='text' class='form-control' name='HoTen" + (i + 1) + "' value=''></td>"
            //         + "            <td><input type='date' class='form-control' name='NgaySinh" + (i + 1) + "' value=''></td>"
            //         + "            <td><input type='text' class='form-control' name='DCThuongTru" + (i + 1) + "' value=''></td>"
            //         + "            <td><input type='text' class='form-control' name='DCTamTru" + (i + 1) + "' value=''></td>"
            //         + "            <td><input type='number' class='form-control' name='CCCD" + (i + 1) + "' value=''></td>"
            //         + "            <td><input type='file' class='form-control' name='HinhCCCD' value=''></td>"
            //         + "            <td><input type='file' class='form-control' name='HinhCT' value=''></td>"
            //         + "        </tr>";
            //}
            //$("#tblCCCD tbody").append(str);
            $("#tblCCCD div").remove();
            for (var i = 0; i < rows ; i++) {
                str += "<div class='col container bg-light rounded-3 shadow-sm pb-3 m-2'>"
                    + "        <div class='row mt-3'>"
                    + "            <div class='col'>"
                    + "                <label class='form-label'>STT</label>"
                    + "                <input type='text' class='form-control' name='STT" + (i + 1) + "' value='" + (i + 1) + "'>"
                    + "            </div>"
                    + "        </div>"
                    + "        <div class='row mt-3'>"
                    + "            <div class='col'>"
                    + "                <label class='form-label'>Họ tên</label>"
                    + "                <input type='text' class='form-control' name='HoTen" + (i + 1) + "' value=''>"
                    + "            </div>"
                    + "        </div>"
                    + "        <div class='row mt-3'>"
                    + "            <div class='col'>"
                    + "                <label class='form-label'>Ngày sinh</label>"
                    + "                <input type='date' class='form-control' name='NgaySinh" + (i + 1) + "' value=''>"
                    + "            </div>"
                    + "        </div>"
                    + "        <div class='row mt-3'>"
                    + "            <div class='col'>"
                    + "                <label class='form-label'>Địa chỉ thường trú</label>"
                    + "                <input type='text' class='form-control' name='DCThuongTru" + (i + 1) + "' value=''>"
                    + "            </div>"
                    + "        </div>"
                    + "        <div class='row mt-3'>"
                    + "            <div class='col'>"
                    + "                <label class='form-label'>Địa chỉ tạm trú</label>"
                    + "                <input type='text' class='form-control' name='DCTamTru" + (i + 1) + "' value=''>"
                    + "            </div>"
                    + "        </div>"
                    + "        <div class='row mt-3'>"
                    + "            <div class='col'>"
                    + "                <label class='form-label'>CCCD/Số định danh</label>"
                    + "                <input type='number' class='form-control' name='CCCD" + (i + 1) + "' value=''>"
                    + "            </div>"
                    + "        </div>"
                    + "        <div class='row mt-3'>"
                    + "            <div class='col'>"
                    + "                <label class='form-label'>Hình CCCD</label>"
                    + "                <input type='file' class='form-control' name='HinhCCCD' accept='image/png, image/jpeg'>"
                    + "            </div>"
                    + "        </div>"
                    + "        <div class='row mt-3'>"
                    + "            <div class='col'>"
                    + "                <label class='form-label'>Hình CT01/CT07/CT08</label>"
                    + "                <input type='file' class='form-control' name='HinhCT' accept='image/png, image/jpeg'>"
                    + "            </div>"
                    + "        </div>"
                    + "    </div>";
            }
            $("#tblCCCD").append(str);
        }
    </script>
</head>
<body style="background-color:#85d8f3;margin-top:-30px">
    <div class="row justify-content-center">
        <div class="col-auto">
            <img src="~/Images/logoctycp.png" width="100" />
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-auto text-center">
            <h4 class="text-primary fw-bold">CÔNG TY CỔ PHẦN<br>CẤP NƯỚC TÂN HÒA</h4>
        </div>
    </div>

    <div class="container mt-3">
        <div class="card mt-3 rounded-3 shadow-sm">
            <div class="card-header">
                <h4 class="text-primary">@ViewBag.Title</h4>
            </div>
            <div class="card-body">
                @using (Html.BeginForm("DangKyDinhMuc", "ThuongVu", FormMethod.Get))
                {
                    <table>
                        <tr>
                            <td><label class="form-label small">Danh Bộ:</label></td>
                            <td><input type="number" class="form-control fw-bold" name="DanhBo" value="@ViewBag.DanhBo"></td>
                            <td><button type="submit" class="btn btn-primary" name="function" value="KiemTra">Kiểm Tra</button></td>
                        </tr>
                        <tr>
                            <td><label class="form-label small">Khách Hàng:</label></td>
                            <td><input type="text" class="form-control fw-bold" value="@ViewBag.HoTen"></td>
                        </tr>
                        <tr>
                            <td><label class="form-label small">Địa Chỉ:</label></td>
                            <td><input type="text" class="form-control fw-bold" value="@ViewBag.DiaChi"></td>
                        </tr>
                    </table>
                }
                @using (Html.BeginForm("DangKyDinhMuc", "ThuongVu", FormMethod.Post, new { encType = "multipart/form-data" }))
                {
                    <table>
                        <tr style="visibility:collapse">
                            <td><label class="form-label small">Danh Bộ:</label></td>
                            <td><input type="number" class="form-control fw-bold" name="DanhBo" value="@ViewBag.DanhBo"></td>
                        </tr>
                        <tr>
                            <td><label class="form-label small">Điện Thoại:</label></td>
                            <td><input type="number" class="form-control fw-bold" name="DienThoai" value=""></td>
                        </tr>
                        <tr>
                            <td><label class="form-label small">Số Nhân Khẩu:</label></td>
                            <td><input type="number" class="form-control fw-bold" name="SoNK" value="" onkeyup="fillrows();"></td>
                        </tr>
                    </table>
                    <div class="row">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.AntiForgeryToken()
                    </div>
                    @*<table id="tblCCCD">
                        <thead>
                            <tr class="text-center fw-bold">
                                <td style="width:50px">STT</td>
                                <td>Họ tên</td>
                                <td>Ngày sinh</td>
                                <td>Địa chỉ thường trú</td>
                                <td>Địa chỉ tạm trú</td>
                                <td>CCCD/Số định danh</td>
                                <td style="width:120px">Hình CCCD</td>
                                <td style="width:120px">Hình CT01/CT07/CT08</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="text" class="form-control" name="STT1" value=""></td>
                                <td><input type="text" class="form-control" name="HoTen1" value=""></td>
                                <td><input type="date" class="form-control" name="NgaySinh1" value=""></td>
                                <td><input type="text" class="form-control" name="DCThuongTru1" value=""></td>
                                <td><input type="text" class="form-control" name="DCTamTru1" value=""></td>
                                <td><input type="number" class="form-control" name="CCCD1" value=""></td>
                                <td><input type="file" class="form-control" name="HinhCCCD" accept="image/png, image/jpeg"></td>
                                <td><input type="file" class="form-control" name="HinhCT" accept="image/png, image/jpeg"></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="6" class="pt-2">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    @Html.AntiForgeryToken()
                                </td>
                            </tr>
                            <tr>
                                <td colspan="6" class="text-center pt-2"><button type="submit" class="btn btn-primary" name="function" value="Gui" onclick="return confirm('Bạn có chắc chắn?');">Gửi</button></td>
                            </tr>
                        </tfoot>
                    </table>*@
                    <div id="tblCCCD" class="row text-center g-2 m-2">
                        <div class="col container bg-light rounded-3 shadow-sm pb-3 m-2">
                            <div class="row mt-3">
                                <div class="col">
                                    <label class="form-label">STT</label>
                                    <input type="text" class="form-control" name="STT1" value="">
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col">
                                    <label class="form-label">Họ tên</label>
                                    <input type="text" class="form-control" name="HoTen1" value="">
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col">
                                    <label class="form-label">Ngày sinh</label>
                                    <input type="date" class="form-control" name="NgaySinh1" value="">
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col">
                                    <label class="form-label">Địa chỉ thường trú</label>
                                    <input type="text" class="form-control" name="DCThuongTru1" value="">
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col">
                                    <label class="form-label">Địa chỉ tạm trú</label>
                                    <input type="text" class="form-control" name="DCTamTru1" value="">
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col">
                                    <label class="form-label">CCCD/Số định danh</label>
                                    <input type="number" class="form-control" name="CCCD1" value="">
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col">
                                    <label class="form-label">Hình CCCD</label>
                                    <input type="file" class="form-control" name="HinhCCCD" accept="image/png, image/jpeg">
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col">
                                    <label class="form-label">Hình CT01/CT07/CT08</label>
                                    <input type="file" class="form-control" name="HinhCT" accept="image/png, image/jpeg">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center"><button type="submit" class="btn btn-primary" name="function" value="Gui" onclick="return confirm('Bạn có chắc chắn?');">Gửi</button></div>
                }
                <div>
                    <table>
                        <tr>
                            <td><b style="color:red">Lưu ý:</b></td>
                        </tr>
                        <tr>
                            <td><b>1. Quý khách hàng vui lòng cung cấp đầy đủ thông tin kèm hình ảnh CCCD.</b></td>
                        </tr>
                        <tr>
                            <td><b>2. Đối với Quý khách hàng không có hộ khẩu thường trú tại TP.HCM, vui lòng cung cấp thêm hình ảnh CT01/CT07/CT08.</b></td>
                        </tr>
                        <tr>
                            <td><b>3. Trong trường hợp khách hàng không cung cấp hoặc cung cấp không đầy đủ hồ sơ, yêu cầu của Quý khách không thể thực hiện được.</b></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year Công ty Cổ phần Cấp nước Tân Hòa</p>
        </footer>
    </div>
</body>
</html>
